<div id="brand">
	<div class="brand-wrap">
		Powered by <a target="_blank" href="http://vincontrol.com"
			style="color: white;">V<span style="color: red;">I</span>N
		</a> | VINControl LLC. <br /> <span
			style="font-size: .85em !important; color: #aaaaaa !important;">While
			every effort is made to ensure the accuracy of this site's content,
			we are not responsible for any errors in pricing or advertisements on
			this site. Please check with the sales department to confirm any
			information seen on this page.</span>
	</div>
</div>