<script type="text/javascript" src="/Scripts/js/pages/pc_validation.js"></script>
<div id="tertiary-contact">
    <div id="tertiary-contact-wrapper">
        <form class="validate" id="tertiary-form" action="" method="post">
            <fieldset>
                <legend id="form-header" style="border: none; line-height: 80%; padding-bottom: 10px; padding-top: 8px;margin-bottom: 10px;">
                    <span style="font-size: .7em;">Have a Question?</span>
                    <br />
                    Contact Us!
                </legend>
                <div id="error"></div>
                <div class="input-prepend control-group">
                    <span class="add-on"><i class="icon-user"></i></span>
                    <input maxlength="50" name="name" class="required" id="fname" type="text" placeholder="First Name" title="First Name" />
                </div>
                <div class="input-prepend control-group">
                    <span class="add-on"><i class="icon-user"></i></span>
                    <input name="name" maxlength="50" class="required" id="lname" type="text" placeholder="Last Name" title="Last Name" />
                </div>
                <div class="input-prepend control-group">
                    <span class="add-on"><i class="icon-envelope"></i></span>
                    <input name="email" maxlength="50" class="required" id="email" type="text" placeholder="Email" title="Email" />
                </div>
                <div class="input-prepend control-group">
                    <span class="add-on"><b style="color: black !important;">#</b></span>
                    <input name="phone" class="number required" id="phone" type="text" value="999-999-9999" title="Phone number" />
                </div>
                <div class="input-prepend control-group">
                    <textarea name="comments" maxlength="3000" id="comments" placeholder="Add Comments" title="Comments"></textarea>
                </div>

                <div id="submitFormLoading">
                    <div id="submitFormLoadingText">*Sending...</div>
                    
                </div>
                <input type="button" style="width: 100%" name="send" id="send" value="Submit" />
            </fieldset>
        </form>
    </div>
</div>
