<div class="row">
	<!-- FOOTER ROW -->
	<div class="span12" id="spanFooter">
		<div id="footer">
			<div id="footer-wrap">
				Freeway Isuzu &copy; 2012 - 2014 | 1655 West 6th Street Suite #111 Corona, CA 92882 <br>
			</div>
		</div>
	</div>
</div>