@using FreewayIsuzu.Handlers
<div class="row">
	<div class="span8">
		<div class="hero-unit" id="banner">
		    <a href="/" style="display: inline-block; float: left;"><div id="h1Wrap"></div><div id="truckIcon"></div></a>
            <div id="resTopPhone">@SessionHandler.Dealer.Phone</div>
		</div>
	</div>
	<div class="span8" id="address" style="color: white;">
		<address>
		    <span id="phone"><h2>@SessionHandler.Dealer.Phone</h2></span><br /> 1655 W 6th St. Suite #111<br />Corona, CA 92882
		</address>
	</div>
</div>
