#similar_type
{
    margin-bottom: 8px;
    height: 49px;
    width: 92%;
    border-bottom: 2px solid #640A0B;
}

input[name="similar_type"]
{
    float: left;
}

#similar_type label
{
    color: #333333 !important;
    float: left;
    width: 20%;
}

.simi-ymm
{
    width: 100%;
    color: red !important;
    line-height: 1em !important;
    overflow: hidden;
    white-space: nowrap;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.msrpPrice
{
    text-align: right;
    color: #F00;
    font-size: 19px !important;
    margin-bottom: 7px;
}

.discountPrice
{
    text-align: right;
    color: #000 !important;
    font-size: 19px;
    margin-bottom: 7px;
}



.carousel-control.left
{
    left: 0px !important;
}

.carousel-control.right
{
    right: 0px !important;
}

#right-top-right input[type="button"]
{
    width: 100%;
    float: right;
    margin-bottom: 5px;
    background: #640A0A;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.701961) 2px 2px 3px;
}

    #right-top-right input[type="button"]:hover
    {
        background: #ED1E24;
    }

.noImgSimilar
{
    height: 115px !important;
}

#main-image img
{
    width: 385px;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 3px;
}

#est-form-title
{
    text-align: center;
    height: 30px;
    color: blue;
    font-weight: bold;
}

#select-mons
{
    width: 90px;
    margin-top: 5px;
}

.est-form-input
{
    width: 140px;
    height: 28;
    margin-top: 5px;
}

.est-form-label span
{
    font-weight: bold;
}

#detail-container
{
    margin-top: 10px;
    min-height: 800px;
}

#detail-left
{
    margin-right: 20px;
    width: 41%;
    height: 100%;
    float: left;
}

#detail-right
{
    margin-left: 1%;
    width: 53%;
    height: 100%;
    float: left;
}

#main-image
{
    border: 4px solid black;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 400px;
    height: 350px;
}

#detail-left .slide-images
{
    height: 75px;
}

.slide-images-inactive
{
    display: none !important;
}

.detail-slide-image
{
    float: left;
    width: 24%;
    margin-left: 1%;
}

.slide-images img
{
    width: 95px !important;
    height: 71px !important;
}

    .slide-images img:hover
    {
        border: 1px solid #640A0A;
    }

#detail-left-bottom
{
    color: black;
    width: 412px;
    height: 342px;
    background-color: white;
}

#detail-right-top
{
    width: 500px;
    min-height: 325px;
}

#detail-right-middle
{
    width: 500px;
}

#dt-middle-menu
{
    height: 40px;
}

    #dt-middle-menu li.active a
    {
        background-color: #3F3F3F !important;
    }

#dt-middle-content
{
    padding: 23px;
    overflow: scroll;
    border: 10px solid #3F3F3F;
    width: 454px;
    height: 170px;
}

    #dt-middle-content ul
    {
        margin-top: 10px;
    }

#dt-content-clear
{
}

#detail-right-bottom
{
    border: 1px solid gray;
    width: 500px;
    height: 140px;
    margin-top: 10px;
}

.nav-tabs a
{
    height: 30px;
}

    .nav-tabs a:hover
    {
        background-color: #3F3F3F !important;
    }

#right-top-left
{
    width: 61%;
    height: 100%;
    float: left;
    margin-top: 15px;
}

    #right-top-left h1
    {
        word-break: normal;
        color: #ED1E24 !important;
    }

    #right-top-left ul.unstyled
    {
        margin-top: 30px;
        font-size: 16px;
    }

    #right-top-left li
    {
        margin-top: 5px;
    }

#right-top-right
{
    width: 38%;
    height: 100%;
    float: left;
}

    #right-top-right a
    {
        width: 150px;
        margin-top: 5px;
        text-shadow: 0px -1px 0px rgba(255, 255, 255, 0.75) !important;
    }

    #right-top-right h2
    {
        text-align: right;
        color: green !important;
        font-size: 2.5em !important;
    }

h2.price
{
    margin-top: 3px;
    margin-bottom: 30px;
}

.detail-btn
{
    background-color: #08506d !important;
    color: #f3f9fb !important;
}

    .detail-btn:hover
    {
        background: #11728F !important;
    }

.tab-content
{
    color: black;
}

#form-hider
{
    display: none;
}

.form-wrap
{
    background: white !important;
    padding: 10px;
    width: 300px;
    overflow: auto;
}

    .form-wrap form
    {
        margin-left: auto;
        margin-right: auto;
    }

    .form-wrap h3
    {
        color: #333333 !important;
        font-size: 2em;
    }

    .form-wrap h4
    {
        font-size: 1.3em;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .form-wrap h1, h2, p
    {
        color: #222222 !important;
    }

.form-section div
{
    overflow: visible;
}

.ie .form-wrap div input[type="text"]
{
    height: 16px;
    width: 245px !important;
}

.form-wrap textarea
{
    width: 260px !important;
}

.form-wrap input[value="Submit"]
{
    width: 295px !important;
}

#ui-datepicker-div, #ui-datepicker-div a
{
    color: black !important;
}

.listing-container .span3
{
    width: 161px;
}

table.imageMid, table.imageMid td
{
    width: 140px !important;
}

.thumbnail
{
    border: 0;
    padding: 0;
    margin-top: 4px;
}
#similar {
    margin-left: 0px;
}
#vehicle-profile
{
    margin-left: 0;
}

#main-image div, #main-image table, #main-image tr, #main-image td
{
    border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    overflow: hidden;
}

#footer
{
    margin-left: 8px;
}

#vehicle-profile
{
    border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    padding-top: 8px;
}

    #vehicle-profile a.thumbnail
    {
        margin-bottom: 5px;
        box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 3px;
    }

#keywords
{
    margin-left: 0px;
    width: 520px;
    height: 234px;
    margin-bottom: 10px;
}

ul.nav.nav-tabs li a
{
    color: #333 !important;
    padding-bottom: 0px !important;
}

    ul.nav.nav-tabs li a:hover
    {
        color: white !important;
    }

ul.nav.nav-tabs li.active a
{
    color: white !important;
}

div.item
{
    text-align: center;
}

#c3wrap
{
    padding-bottom: .7em;
}

#vehicle-profile .price a.finance
{
    background-color: #66ba44 !important;
    color: white !important;
    font-weight: bold !important;
}

    #vehicle-profile .price a.finance:hover
    {
        background-color: green !important;
    }

#carfaxWrap li
{
    color: black !important;
}

#carfax li
{
    width: 97%;
    height: 15px;
    padding: .5em;
}

    #carfax li img
    {
        float: right;
        margin-right: 15px;
    }

.fb-like
{
    float: left;
    position: relative;
}

.ie .fb-like
{
    width: 75px !important;
}

#vehicle-profile
{
    color: black;
}

.twitter-share-button
{
    position: relative;
}

.fb_iframe_widget span
{
    vertical-align: baseline !important;
}

#fb-tweet
{
    float: right;
    margin-top: -20px;
    width: 192px;
    height: 30px;
}

A#carfaxBTN
{
    color: white !important;
    background-color: #640A0A !important;
    font-weight: bold !important;
    margin-bottom: 5px;
    width: 200px;
    display: block;
    cursor: pointer;
    text-decoration: none;
    padding: 8px;
}

    a#carfaxBTN:hover
    {
        background: #ED1E24 !important;
    }

.btn
{
    background-image: none !important;
}

#carousel-nav
{
    position: relative;
    width: 99%;
}

    #carousel-nav .left
    {
        display: none;
    }

/* Print page */
#print-container
{
    width: 1000px;
    min-height: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#print-header
{
    margin-top: 10px;
    width: 1000px;
    height: 80px;
    border-bottom: 2px solid gray;
}

#print-header-title
{
    width: 50%;
    float: left;
}

#print-header-address
{
    width: 29%;
    float: right;
}

#print-info
{
    width: 1000px;
    height: 355px;
}

#print-options
{
    margin-bottom: 1px;
    width: 1000px;
    height: 295px;
    border-bottom: 2px solid gray;
}

#disclaimer
{
    font-weight: bold;
    font-size: 10px;
    color: red;
}

#print-main-image
{
    width: 450px;
    float: left;
}

    #print-main-image img
    {
        width: 410px;
        height: 310px;
        margin-top: 10px;
    }

#print-info-info
{
    width: 550px;
    float: left;
}

#vehicle-title-wrap
{
    border-bottom: 2px solid #3D3D3D;
}

    #vehicle-title-wrap h1
    {
        margin-top: 0;
        margin-bottom: 0;
        text-align: right;
    }

        #vehicle-title-wrap h1 small
        {
            color: gray;
            font-size: 20px;
        }

#vehicle-info-info ul
{
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0px;
}

    #vehicle-info-info ul li
    {
        font-size: 20px;
        color: #3D3D3D;
        border-bottom: 1px solid gray;
        width: 100%;
        list-style: none;
        height: 30px;
    }

#vehicle-info-info li nobr
{
    font-weight: bold;
    color: black !important;
}

#print-options table tr td
{
    color: black;
}

#print-footer
{
    width: 1000px;
}

#print-footer-left
{
    width: 45%;
    height: 90%;
    float: left;
}

#print-footer-right
{
    width: 54%;
    height: 90%;
    float: right;
}

#print-footer-left #detail-left-bottom h4
{
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

#print-map
{
    width: 490px;
}

.help-inline
{
    color: red !important;
}


#holder-slide-images
{
    margin-top: 15px;
    height: 75px;
}
