#tertiary-contact-wrapper, #tertiary-contact form
{
    margin-top: 0 !important;
    margin-bottom: 5px !important;
}

.pager a
{
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    background: none !important;
}

div.fb-like-box
{
    position: relative;
    z-index: 0;
}

#brand .brand-wrap
{
    background: black;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 100;
}

#sliderImg1
{
    background-image: url("/Content/images/slider/adslide_new.jpg");
}
#sliderImg2
{
    background-image: url("/Content/images/slider/Slider4_new.jpg");
}
#sliderImg3
{
    background-image: url("/Content/images/slider/Slider1_new.jpg");
}
#sliderImg4
{
    background-image: url("/Content/images/slider/adslide2_new.jpg");
}
#sliderImg5
{
    background-image: url("/Content/images/slider/Slider2_new.jpg");
}
#sliderImg6
{
    background-image: url("/Content/images/slider/Slider3_new.jpg");
}
#sliderImg7
{
    background-image: url("/Content/images/slider/Slider2_new.jpg");
}

.sliderImg17 {
    position: relative;
    background-position: top left;
    background-repeat: no-repeat;
    height: 300px !important;
}