.help-inline
{
    display: block;
}

#value-my-trade div, #truck-locator div
{
    float: left;
    width: 33.33%;
    overflow: visible;
    white-space: nowrap;
}

    #value-my-trade div input, #truck-locator div input
    {
        width: 175px;
    }

textarea#options
{
    width: 412px !important;
    height: 75px;
    display: inline-block;
}

#form_options {
    height: 59px;
    overflow: hidden;
    width: 175px !important;
    -moz-resize: none;
    -ms-resize: none;
    -o-resize: none;
    resize: none;
}
