@{
    ViewBag.Title = "Truck Locator";
}

@section meta{
    <meta name="description" content="Freeway Isuzu - Truck locator ✓ Finding your used trucks ✓ new trucks ✓ Hundreds of cars for sale ✓ Good prices ✓ Daily updated" />
}

<link type="text/css" rel="stylesheet" href="/Content/css/locator.css" />
<link type="text/css" rel="stylesheet" href="/Content/css/responsive.css" />
<link type="text/css" rel="stylesheet" href="/Content/css/serviceInfoResponsive.css"/>
<style>
    #tertiary-cell h1 {
        color: #333 !important;
        font-size: 24px;
    }
</style>

<script src="/Scripts/js/pages/pc_locator.js" type="text/javascript"></script>
<div class="row specials" id="content" style="height: 800px;">

    <div class="span12" id="tertiary-cell">
        <!-- MAIN COLUMN CELL -->
        <div id="truck-locator-listing">
            <!-- AD CELLS -->
            <h1>Truck Locator</h1>
            <p>
                Not seeing the truck you're looking for? Let us locate it
							for you. Freeway Isuzu has access to thousands of vehicles in any
							body type you can think of and maintains relationships with some
							of the largest distributors in the country. If we can't find it...
							it probably doesn't exist.
            </p>
            <form id="truck-locator" method="post" action="" class="validate">
                <fieldset>
                    <div id="error"></div>
                    <legend style="border: none; margin-top: 10px;"></legend>

                    <!-- Contact Info Include -->
                    <legend>Contact Info
                    </legend>
                    <div class="input-prepend control-group">
                        <span class="add-on"><i class="icon-user"></i></span>
                        <input maxlength="50" name="form_fname" class="required" id="form_fname" type="text" placeholder="First Name" title="First Name">
                    </div>
                    <div class="input-prepend control-group">
                        <span class="add-on"><i class="icon-user"></i></span>
                        <input maxlength="50" name="form_lname" class="required" id="form_lname" type="text" placeholder="Last Name" title="Last Name">
                    </div>
                    <div class="input-prepend control-group">
                        <span class="add-on"><i class="icon-envelope"></i></span>
                        <input maxlength="50" name="form_email" class="required" id="form_email" type="text" placeholder="Email" title="Email">
                    </div>
                    <div class="input-prepend control-group">
                        <span class="add-on"><b style="color: black !important;">#</b></span>
                        <input maxlength="50" name="form_phone" class="number required" id="form_phone" type="text" value="999-999-9999" title="Phone Number">
                    </div>
                    <legend>Desired Vehicle Info
                    </legend>
                    <div class="input-prepend control-group">
                        <span class="add-on"><i class="icon-star"></i></span>
                        <input maxlength="4" name="form_year" class="required number" id="form_year" type="text" placeholder="Year" title="Year">
                    </div>
                    <div class="input-prepend control-group">
                        <span class="add-on"><i class="icon-star"></i></span>
                        <input maxlength="50" name="form_make" class="required" id="form_make" type="text" placeholder="Make" title="Make">
                    </div>
                    <div class="input-prepend control-group">
                        <span class="add-on"><i class="icon-star"></i></span>
                        <input maxlength="50" name="form_model" class="required" id="form_model" type="text" placeholder="Model" title="Model">
                    </div>
                    <legend>Comments
                    </legend>
                    <div class="input-prepend control-group">
                        <span class="add-on"><i class="icon-comment"></i></span>
                        <textarea maxlength="3000" name="form_comments" id="form_comments" placeholder="Additional Comments"></textarea>
                    </div>

                </fieldset>
                <div class="submitLoadding">
                    <div class="submitLoadingText">*Sending...</div>
                    
                </div>
                <input type="button" name="tl" id="form_send" value="Submit">
            </form>
        </div>
        <!-- END OF AD CELLS -->

        <!-- FOOTER ROW -->
        @{ Html.RenderPartial("~/Views/Shared/_Footer.cshtml"); }
        <!-- END OF FOOTER ROW -->

    </div>
    <!-- END OF MAIN CELL -->
    <div class="span4" id="sidebar">
        <!-- CONTACT FORM ROW -->
        @{ Html.RenderPartial("~/Views/Shared/_ContactForm.cshtml"); }
        <!-- END OF CONTACT FORM ROW -->

        <!-- MAP ROW -->
        @{ Html.RenderPartial("~/Views/Shared/_Map.cshtml"); }
        <!-- END OF MAP ROW -->

        <!-- Dealerinfo ROW -->
        @{ Html.RenderPartial("~/Views/Shared/_DealerInfo.cshtml"); }
        <!-- END OF Dealerinfo ROW -->
    </div>
    <!-- END OF SIDEBAR CELL -->
</div>
<script type="text/javascript">
    $("div.mn-new").addClass("nav-active");
    var insertTruckApi = '/Email/InsertLocator';
</script>
