@{
    ViewBag.Title = "Request A Quote";
}

@section meta{
    <meta name="description" content="Freeway Isuzu - Get quote ✓ Finding your used trucks ✓ new trucks ✓ Hundreds of cars for sale ✓ Good prices ✓ Daily updated" />
}

<link type="text/css" rel="stylesheet" href="/Content/css/salefinance.css" />
<link type="text/css" rel="stylesheet" href="/Content/css/responsive.css" />
<link type="text/css" rel="stylesheet" href="/Content/css/serviceInfoResponsive.css" />
<script src="/Scripts/js/pages/pc_quote.js" type="text/javascript"></script>
<div class="row specials" id="content" style="height: 800px;">
    <div class="span12" id="tertiary-cell">
        <!-- MAIN COLUMN CELL -->
        <h1>Request a Quote</h1>
        <!-- BEGIN EDIT CONTENT -->
        <div id="request-quote-listing">
            <!-- AD CELLS -->
            <h2>Request a Quote</h2>
            <p>
                Please enter your contact information below so we can
                provide you with the most accurate quote possible.
            </p>
            <form id="request-a-quote" method="post" action="" class="validate">
                <fieldset>
                    <div id="error"></div>
                    <legend style="border: none; margin-top: 10px;"></legend>

                    <!-- Contact Form Include -->
                    <legend>
                        Contact Info
                    </legend>
                    <div class="input-prepend control-group">
                        <span class="add-on"><i class="icon-user"></i></span>
                        <input maxlength="50" name="form_fname" class="required" id="form_fname" type="text" placeholder="First Name" title="First Name">
                    </div>
                    <div class="input-prepend control-group">
                        <span class="add-on"><i class="icon-user"></i></span>
                        <input maxlength="50" name="form_lname" class="required" id="form_lname" type="text" placeholder="Last Name" title="Last Name">
                    </div>
                    <div class="input-prepend control-group">
                        <span class="add-on"><i class="icon-envelope"></i></span>
                        <input maxlength="50" name="form_email" class="required" id="form_email" type="text" placeholder="Email" title="Email">
                    </div>
                    <div class="input-prepend control-group">
                        <span class="add-on"><b style="color: black !important;">#</b></span>
                        <input maxlength="50" name="form_phone" class="number required" id="form_phone" type="text" value="999-999-9999" title="Phone Number">
                    </div>
                    <legend>
                        Comments
                    </legend>
                    <div class="input-prepend control-group">
                        <span class="add-on"><i class="icon-comment"></i></span>
                        <textarea maxlength="3000" name="form_comments" id="form_comments" placeholder="Additional Comments"></textarea>
                    </div>

                </fieldset>
                <div class="submitLoadding">
                    <div class="submitLoadingText">*Sending...</div>
                </div>
                <input type="button" name="form_send" id="form_send" value="Submit">
            </form>
        </div>
        <!-- END OF AD CELLS -->
        <!-- FOOTER ROW -->
        @{ Html.RenderPartial("~/Views/Shared/_Footer.cshtml"); }
        <!-- END OF FOOTER ROW -->

    </div>

    <!-- END OF MAIN CELL -->
    <div class="span4" id="sidebar">
        <!-- CONTACT FORM ROW -->
        @{ Html.RenderPartial("~/Views/Shared/_ContactForm.cshtml"); }
        <!-- END OF CONTACT FORM ROW -->
        <!-- MAP ROW -->
        @{ Html.RenderPartial("~/Views/Shared/_Map.cshtml"); }
        <!-- END OF MAP ROW -->
        <!-- Dealerinfo ROW -->
        @{ Html.RenderPartial("~/Views/Shared/_DealerInfo.cshtml"); }
        <!-- END OF Dealerinfo ROW -->
    </div>
    <!-- END OF SIDEBAR CELL -->
</div>
<script type="text/javascript">
    $("div.mn-sale-finance").addClass("nav-active");
    var insertGetQuoteApi = '/Email/InsertGetQuote';
</script>