@{
    ViewBag.Title = "Lease";
}

@section meta{
    <meta name="description" content="Freeway Isuzu - Lease ✓ Finding your used trucks ✓ new trucks ✓ Hundreds of cars for sale ✓ Good prices ✓ Daily updated" />
}

<link type="text/css" rel="stylesheet" href="/Content/css/lease.css" />
<link type="text/css" rel="stylesheet" href="/Content/css/responsive.css" />
<link type="text/css" rel="stylesheet" href="/Content/css/responsiveShowroom.css" />
<style>
    #tertiary-cell h1 {
        color: #333 !important;
        font-size: 24px;
    }
</style>

<div class="row specials" id="content">
    <div class="span12" id="tertiary-cell">
        <!-- MAIN COLUMN CELL -->
        <!-- BEGIN EDIT CONTENT -->
        <div class="span12" id="lease-specials">
            <!-- AD CELLS -->
            <h1>Lease &amp; Finance Offers</h1>
            <div class="lease_it">
                <div class="lease_img">
                    <img class="thumbnail" border="0" alt="Lease & Finance Offers"
                         src="/Content/images/products_01.jpg" width="192"
                         height="132">
                </div>
                <div class="lease_text">
                    <p>
                        Whether you are a&nbsp;sole proprietor&nbsp;with a single truck or
                        a&nbsp;large company with&nbsp;a fleet of trucks, <span style="FONT-WEIGHT: bold">Isuzu Finance of America</span> can
                        tailor a loan or lease&nbsp;to fit your specific business needs.
                        In addition to conventional loans,&nbsp;we offer a variety of
                        leases that give you&nbsp;the options&nbsp;to buy, sell or return
                        your truck. Term lengths, payment schedules, and mileage
                        allowances can&nbsp;be structured to provide you with outstanding
                        flexibility. Choose from:
                    </p>
                    <ul>

                        <li>
                            <span style="FONT-STYLE: italic">
                                Conventional
                                loans
                            </span> which&nbsp;give you&nbsp;pride of ownership at affordable
                            rates
                        </li>

                        <li>
                            <span style="FONT-STYLE: italic">
                                FMV (Closed-end)
                                Leases
                            </span> with "walk-away" provisions and no residual value risk
                        </li>

                        <li>
                            <span style="FONT-STYLE: italic">
                                TRAC (Open-end)
                                Leases
                            </span> offer you ultimate flexibility and unlimited
                            mileage&nbsp;with equity building opportunities and potential tax
                            savings
                        </li>
                    </ul>
                </div>
            </div>
            <h2>Loans</h2>
            <div class="lease_it">
                <div class="lease_img">
                    <img class="thumbnail" border="0" alt="Loans"
                         src="/Content/images/products_03.jpg" width="192"
                         height="128">
                </div>
                <div class="lease_text">
                    <p>
                        <span style="FONT-WEIGHT: bold">The benefits of a Loan</span>:
                    </p>
                    <ul>

                        <li>
                            <span style="FONT-STYLE: italic">
                                It helps free up
                                your working capital for other uses
                            </span> - Our loan programs enable
                            you to own your trucks.
                        </li>

                        <li>
                            <span style="FONT-STYLE: italic">
                                It helps preserve
                                your borrowing capacity
                            </span> - Your bank line of credit is kept free
                            and clear for emergencies or&nbsp;other "bricks and mortar"
                            purchases.&nbsp;
                        </li>

                        <li>
                            <span style="FONT-STYLE: italic">
                                It gives you
                                greater asset management control
                            </span> - As the owner, you are free to
                            modify, trade-in or sell your vehicles at any time, under your
                            own terms, as your business dictates.
                        </li>

                        <li>
                            <span style="FONT-STYLE: italic">
                                It helps you
                                build equity
                            </span> - Traditionally, Isuzu trucks command high resale
                            value.
                        </li>

                        <li>
                            <span style="FONT-STYLE: italic">
                                It offers you the
                                tax benefits of ownership
                            </span> - With IFAI's loan, your company can
                            enjoy the benefits of accelerated depreciation and interest
                            deductions.*
                        </li>

                        <li>
                            <span style="FONT-STYLE: italic">
                                It provides your
                                business with additional assets and collateral
                            </span> - Once your loan
                            is paid in&nbsp;full, you own your truck free and clear.
                        </li>
                    </ul>
                </div>
            </div>
            <h2>Leases</h2>
            <div class="lease_it">
                <div class="lease_img">
                    <img class="thumbnail" border="0" alt="Leases"
                         src="/Content/images/products_02.jpg" width="192"
                         height="128">
                </div>
                <div class="lease_text">
                    <p>
                        <span style="FONT-WEIGHT: bold">The benefits of Leasing</span>:
                    </p>
                    <ul>

                        <li>
                            <span style="FONT-STYLE: italic">
                                It does not
                                require a large cash out lay
                            </span> - Leasing does not require the
                            traditionally large down&nbsp;payment. Instead, your money is
                            free for other purchases and investments.
                        </li>

                        <li>
                            <span style="FONT-STYLE: italic">
                                It offers lower
                                monthly payments
                            </span> - Monthly payments are normally lower than a
                            conventional loan. With a lease, you pay only for that portion of
                            the truck's value that you are using. And that means increased
                            cash flow.
                        </li>

                        <li>
                            <span style="FONT-STYLE: italic">
                                It can improve
                                your financial picture
                            </span> - With certain lease structures, you can
                            improve the look of your balance sheet and other key financial
                            ratios.*
                        </li>

                        <li>
                            <span style="FONT-STYLE: italic">
                                It may include
                                some added tax advantages
                            </span> -&nbsp;Deductions of operating
                            expenses are not the only benefit you may receive. In many states
                            you pay only the state and local sales tax based on your monthly
                            payment, rather than the cost of the entire vehicle.*
                        </li>

                        <li>
                            <span style="FONT-STYLE: italic">
                                It can avoid a
                                long-term commitment
                            </span> - If you are not quite sure if your vehicle
                            needs may change in the future, you can delay making that
                            purchase decision today with a short-term lease.
                        </li>

                        <li>
                            <span style="FONT-STYLE: italic">
                                It allows you to
                                frequently upgrade your vehicles and equipment
                            </span> - Lower payments
                            make it easier to afford the newer truck models and equipment
                            that best meets your needs.
                        </li>

                        <li>
                            <span style="FONT-STYLE: italic">
                                It provides you
                                with a variety of lease-end options
                            </span> - Depending on what type of
                            lease you select, you can return the vehicle to your dealer and
                            "walkaway," negotiate a new lease agreement, or elect to purchase
                            your truck. Once again, the choice is yours.
                        </li>
                    </ul>
                </div>
            </div>


            <h2>The Right Truck. The Right Loan. The Right Way!</h2>
            <p>
                At <span style="FONT-WEIGHT: bold">Isuzu Finance of America</span>,
                we understand that getting the trucks you need as quickly and
                conveniently as possible is critical to your business operations
                and your bottom line. Talk to your local Dealership Sales Team
                today. With a new truck loan or lease from <span style="FONT-WEIGHT: bold">Isuzu Finance of America</span>, you
                will have one less thing to worry about.
            </p>
            <p>
                <small>
                    *Because tax laws change and vary, see your tax
                    advisor on all tax matters to determine how you would be
                    affected. Isuzu Finance of America is not a tax advisor or
                    financial planning consultant and does not offer tax advice or
                    financial planning.
                </small>
            </p>
            <!-- END EDIT CONTENT -->
        </div>
        <!-- END OF AD CELLS -->
        <!-- FOOTER ROW -->
        @{ Html.RenderPartial("~/Views/Shared/_Footer.cshtml"); }
        <!-- END OF FOOTER ROW -->

    </div>
    <!-- END OF MAIN CELL -->
    <!-- SIDEBAR CELL -->
    <div class="span4" id="sidebar">
        <!-- CONTACT FORM ROW -->
        @{ Html.RenderPartial("~/Views/Shared/_ContactForm.cshtml"); }
        <!-- END OF CONTACT FORM ROW -->
        <!-- MAP ROW -->
        @{ Html.RenderPartial("~/Views/Shared/_Map.cshtml"); }
        <!-- END OF MAP ROW -->
        <!-- Dealerinfo ROW -->
        @{ Html.RenderPartial("~/Views/Shared/_DealerInfo.cshtml"); }
        <!-- END OF Dealerinfo ROW -->
    </div>
    <!-- END OF SIDEBAR CELL -->
</div>
<script type="text/javascript">
    $("div.mn-specials").addClass("nav-active");
</script>
