@{
    ViewBag.Title = "File Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link type="text/css" rel="stylesheet" href="/Content/css/responsive.css" />
<style>
    td.gsc-search-button { width: 5%; }
</style>

<div style="text-align: center;">
    <img style="width: 350px;" src="~/Content/images/PageNotFound.png" alt="Page not found"/>
</div>