@{
    ViewBag.Title = "System Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link type="text/css" rel="stylesheet" href="/Content/css/responsive.css" />
<style>
    td.gsc-search-button {
        width: 5%;
    }
    #system-error h1 { color: #333 !important; }
</style>

<div id="system-error">
    <h1>System Error!</h1>
</div>