@{
    ViewBag.Title = "Truck Comparison";
}

@section meta{
    <meta name="description" content="Freeway Isuzu - Truck comparision ✓ Finding your used trucks ✓ new trucks ✓ Hundreds of cars for sale ✓ Good prices ✓ Daily updated" />
}

<link type="text/css" rel="stylesheet" href="/Content/css/newinv.css" />
<link type="text/css" rel="stylesheet" href="/Content/css/responsive.css" />
<link type="text/css" rel="stylesheet" href="/Content/css/responsiveShowroom.css" />
<style>
    #lease-specials img {
        width: auto;
    }

    #lease-specials h1 {
        color: #333 !important;
        font-size: 24px;
    }
</style>
<div class="row specials" id="content">

    <div class="span12" id="tertiary-cell">
        <!-- MAIN COLUMN CELL -->
        @*<h1 style="display: none;">Isuzu Truck Challenge</h1>*@
        <!-- BEGIN EDIT CONTENT -->
        <div class="span12" id="lease-specials">
            <!-- AD CELLS -->
            <h1>Isuzu Truck Challenge</h1>
            <h3 style="margin-top: 0; margin-bottom: 4px;">
                Isuzu Trucks go
                Head-to-Head with the Competition
            </h3>
            <p>
                This page provides you with competitive comparisons between
                Isuzu products and targeted competitors. Below are a list of
                category and their competitors in that category.
            </p>
            <p>
                Download PDFs of side-by-side comparisons of Isuzu and
                chosen competitor.
            </p>
            <div class="list-wrap">
                <img class="thumbnail" src="http://isuzutruckchallenge.com/images/IsuzuNPRHDTruck.jpg" alt="NPR-HD Models" title="NPR-HD Models">
                <h3>NPR-HD Models</h3>
                <ul class="unstyled" style="display: inline-block;">
                    <li>
                        <h4>NPR-HD</h4>
                    </li>
                    <li>
                        <ul class="inner-list">
                            <li>
                                <a target="_blank"
                                   href="/Content/pdf/Isuzu_NPR_HD_Ford_F450.pdf">Ford F-450</a>
                            </li>
                            <li>
                                <a target="_blank"
                                   href="/Content/pdf/Isuzu_NPR_HD_Ram_4500.pdf">Dodge Ram 4500</a>
                            </li>
                            <li>
                                <a target="_blank"
                                   href="/Content/pdf/Isuzu_NPR_HD_TerraStar.pdf">
                                    International
                                    TerraStar
                                </a>
                            </li>
                            <li>
                                <a target="_blank"
                                   href="/Content/pdf/Isuzu_NPR_HD_GM_Com_Cutaway.pdf">
                                    GM Commercial
                                    Cutaway
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="">Mitsubishi Fuso FE160</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h4>NPR-HD Gas</h4>
                    </li>
                    <li>
                        <ul class="inner-list">
                            <li>
                                <a target="_blank"
                                   href="/Content/pdf/Isuzu_NPR_HD_Gas_Ford_E450.pdf">Ford E-450</a>
                            </li>
                            <li>
                                <a target="_blank"
                                   href="/Content/pdf/Isuzu_NPR_HD_Gas_Ford_F450.pdf">Ford F-450</a>
                            </li>
                            <li>
                                <a target="_blank"
                                   href="/Content/pdf/Isuzu_NPR_HD_Gas_GM_Cutaway.pdf">
                                    GM Commercial
                                    Cutaway
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="list-wrap">
                <img class="thumbnail" src="http://isuzutruckchallenge.com/images/IsuzuCCTruck.jpg" alt="Crew Cab Models" title="Crew Cab Models">
                <h3>Crew Cab Models</h3>
                <ul class="unstyled" style="display: inline-block;">
                    <li>
                        <h4>NPR-HD Crew Cab</h4>
                    </li>
                    <li>
                        <ul class="inner-list">
                            <li>
                                <a target="_blank"
                                   href="/Content/pdf/Isuzu_NPR_HD_Ford_F450.pdf">Ford F-450 Crew Cab</a>
                            </li>
                            <li>
                                <a target="_blank"
                                   href="/Content/pdf/Isuzu_NPR_HD_Ram_4500CC.pdf">
                                    Dodge Ram 4500 Crew
                                    Cab
                                </a>
                            </li>
                            <li>
                                <a target="_blank"
                                   href="/Content/pdf/Isuzu_NPR_HD_TerraStarCC.pdf">
                                    International
                                    TerraStar Crew Cab
                                </a>
                            </li>
                            <li>
                                <a target="_blank"
                                   href="/Content/pdf/Isuzu_NPR_HD_MitsuFuso_FE145_CC.pdf">
                                    Mitsubishi
                                    Fuso FE160 Crew Cab
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h4>NQR Crew Cab</h4>
                    </li>
                    <li>
                        <ul class="inner-list">
                            <li>
                                <a target="_blank"
                                   href="/Content/pdf/Isuzu_NQR_CC_Ford_F-550CC.pdf">
                                    Ford F-550 Crew
                                    Cab
                                </a>
                            </li>
                            <li>
                                <a target="_blank"
                                   href="/Content/pdf/Isuzu_NQR_CC_Ram_5500CC.pdf">
                                    Dodge Ram 5500 Crew
                                    Cab
                                </a>
                            </li>
                            <li>
                                <a target="_blank"
                                   href="/Content/pdf/Isuzu_NQR_CC_TerraStarCC.pdf">
                                    International
                                    TerraStar Crew Cab
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="list-wrap">
                <img class="thumbnail" src="http://isuzutruckchallenge.com/images/IsuzuNQRTruck.jpg" alt="NQR" title="NQR">
                <h3>NQR</h3>
                <ul class="unstyled" style="display: inline-block;">
                    <li>
                        <ul class="inner-list">
                            <li>
                                <a target="_blank" href="/Content/pdf/Isuzu_NQR_Ford_F-550.pdf">
                                    Ford
                                    F-550
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="/Content/pdf/Isuzu_NQR_Ram_5500.pdf">
                                    Dodge
                                    Ram 5500
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="/Content/pdf/Isuzu_NQR_UD_1800HD.pdf">
                                    Nissan
                                    UD 1800HD
                                </a>
                            </li>
                            <li>
                                <a target="_blank"
                                   href="/Content/pdf/Isuzu_NQR_TerraStar_Class5.pdf">
                                    International
                                    TerraStar
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="/Content/pdf/Isuzu_NQR_Fuso_FE180.pdf">
                                    Mitsubishi
                                    Fuso FE180
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                
            </div>

            <div class="list-wrap">
                <img class="thumbnail" src="http://isuzutruckchallenge.com/images/IsuzuNRRTruck.jpg" alt="NRR" title="NRR">
                <h3>NRR</h3>
                <ul class="unstyled" style="display: inline-block;">
                    <li>
                        <ul class="inner-list">
                            <li>
                                <a target="_blank" href="/Content/pdf/Isuzu_NRR_Ford_F-550.pdf">
                                    Ford
                                    F-550
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="/Content/pdf/Isuzu_NRR_Ram_5500.pdf">
                                    Dodge
                                    Ram 5500
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="/Content/pdf/Isuzu_NRR_UD_2000.pdf">
                                    Nissan
                                    UD 2000
                                </a>
                            </li>
                            <li>
                                <a target="_blank"
                                   href="/Content/pdf/Isuzu_NRR_TerraStarClass5.pdf">
                                    International
                                    TerraStar
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                
            </div>

            <div class="list-wrap">
                <img class="thumbnail" style="clear: both;" src="http://isuzutruckchallenge.com/images/IsuzuNPRTruck.jpg" alt="NPR Models" title="NPR Models">
                <h3>NPR Models</h3>
                <ul class="unstyled" style="display: inline-block;">
                    <li>
                        <h4>NPR Eco-Max</h4>
                    </li>
                    <li>
                        <ul class="inner-list">
                            <li>
                                <a target="_blank" href="/Content/pdf/Isuzu_NPR_Ford_F-350.pdf">
                                    Ford
                                    F-350
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="/Content/pdf/Isuzu_NPR_Ram_3500.pdf">
                                    Dodge
                                    Ram 3500
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="/Content/pdf/Isuzu_NPR_GM_Comm.pdf">
                                    GM
                                    Commercial Cutaway
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="/Content/pdf/Isuzu_NPR_GM_3500.pdf">
                                    GM
                                    3500 HD
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="/Content/pdf/Isuzu_NPR_Fuso_125.pdf">
                                    Mitsubishi
                                    Fuso FE125
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="/Content/pdf/Isuzu_NPR_Sprinter.pdf">Sprinter</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h4>NPR Gas</h4>
                    </li>
                    <li>
                        <ul class="inner-list">
                            <li>
                                <a target="_blank"
                                   href="/Content/pdf/Isuzu_NPR_Gas_Ford_E-350.pdf">Ford E-350 Gas</a>
                            </li>
                            <li>
                                <a target="_blank"
                                   href="/Content/pdf/Isuzu_NPR_Gas_Ford_F-350.pdf">Ford F-350 Gas</a>
                            </li>
                            <li>
                                <a target="_blank"
                                   href="/Content/pdf/Isuzu_NPR_Gas_Ram_3500.pdf">Dodge Ram 3500</a>
                            </li>
                            <li>
                                <a target="_blank"
                                   href="/Content/pdf/Isuzu_NPR_Gas_GM_3500.pdf">GM Commercial Cutaway</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>


            <!-- END EDIT CONTENT -->
        </div>
        <!-- END OF AD CELLS -->
        @{ Html.RenderPartial("~/Views/Shared/_Footer.cshtml"); }
        <!-- END OF FOOTER ROW -->

    </div>
    <!-- END OF MAIN CELL -->

    <div class="span4" id="sidebar">
        <!-- CONTACT FORM ROW -->
        @{ Html.RenderPartial("~/Views/Shared/_ContactForm.cshtml"); }
        <!-- END OF CONTACT FORM ROW -->
        <!-- MAP ROW -->
        @{ Html.RenderPartial("~/Views/Shared/_Map.cshtml"); }
        <!-- END OF MAP ROW -->
        <!-- Dealerinfo ROW -->
        @{ Html.RenderPartial("~/Views/Shared/_DealerInfo.cshtml"); }
        <!-- END OF Dealerinfo ROW -->
    </div>
    <!-- END OF SIDEBAR CELL -->
</div>
<script type="text/javascript">
    $("div.mn-new").addClass("nav-active");
</script>
