@{
    ViewBag.Title = "Showroom";
}

@section meta{
    <meta name="description" content="Freeway Isuzu - Showroom ✓ Finding your used trucks ✓ new trucks ✓ Hundreds of cars for sale ✓ Good prices ✓ Daily updated" />
}

<link type="text/css" rel="stylesheet" href="/Content/css/index.css" />
<link type="text/css" rel="stylesheet" href="/Content/css/responsive.css" />

<link type="text/css" rel="stylesheet" href="/Content/css/responsiveShowroom.css" />
<link type="text/css" rel="stylesheet" href="/Content/css/responsiveSpecials.css" />
<script type="text/javascript" src="/Scripts/js/pages/pc_index.js"></script>
<style>
    .getquote:hover
    {
        background-color: #EEE;
    }

    .getquote
    {
        text-align: center !important;
        cursor: pointer;
        padding: 7px 0px;
        font-size: 13px;
    }
</style>
<div class="row" id="content">

    <div class="span12" style="width: 952px">
        <!-- MAIN COLUMN CELL -->
        <h1 style="display: none;">Check Out Our Lineup of New Vehicles!</h1>
        <div class="row" id="inventory">
            <!-- INVENTORY LISTING ROW -->
            <div class="span12" style="width: 952px">

                <h3 class="inventory-header">Check Out Our Lineup of New
							Vehicles!</h3>
                <p>
                    Get all the information you need on our NEW Isuzu
								commercial trucks and vans!
                </p>
                <hr>
                <div class="row vehicle-listing" style="width: 952px">
                    <div class="span3 listing-container">
                        <div class="img">
                            <img height="140" src="http://cdn-3.psndealer.com/e2/dealersite/images/newvehicles/2012/nv251047_0.jpg" alt="REACH 151">
                        </div>
                    </div>
                    <div class="span12 listing-container">
                        <div class="row">
                            <div class="span8 description">
                                <h3 class="name">REACH 151</h3>
                                <p>
                                    In the world of commercial vehicles, the introduction
                                    of a truly new vehicle is a rare occurrence. That’s why the
                                    all-new Reach is so important. Everything you believe about
                                    what a commercial van can do - and what it can do for your
                                    business - is about to change.
                                </p>
                                <p>
                                    <b>Models: <a href="/showroom/detail/reach-151-12">Reach
                                                  151 - <em>12ft</em> </a>| <a href="/showroom/detail/reach-151-14">Reach 151 - <em>14ft</em></a></b>
                                </p>
                            </div>
                            <div class="leoNoResponsiveBtns">
                                <div class="span4 price getquote get_quote">
                                    <h2>Get Quote!</h2>
                                </div>
                            </div>
                            <div class="leoResponsiveBtns">
                                <div class="span4 price getquote resSrGetQuote">
                                    <h2>Get Quote!</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row vehicle-listing" style="width: 952px">
                    <div class="span3 listing-container">
                        <div class="img">
                            <img height="140" src="http://cdn-3.psndealer.com/e2/dealersite/images/newvehicles/2012/nv247313_5_400.jpg" alt="NPR ECO-MAX">
                        </div>
                    </div>
                    <div class="span12 listing-container">
                        <div class="row">
                            <div class="span8 description">
                                <h3 class="name">NPR ECO-MAX</h3>
                                <p>
                                    <b>Performance. Practicality. Dependability. Durability.</b>
                                </p>
                                <p>
                                    Whether you are a small business operator with a single
												vehicle or you manage an entire fleet, you need a truck that
												will do more, while costing less to operate.
                                </p>
                                <p>
                                    <b>Diesel Models: <a href="/showroom/detail/npr-eco-max">NPR
											Eco-Max <em>Diesel</em> </a></b>
                                </p>
                            </div>
                            <div class="leoNoResponsiveBtns">
                                <div class="span4 price getquote get_quote">
                                    <h2>Get Quote!</h2>
                                </div>
                            </div>
                            <div class="leoResponsiveBtns">
                                <div class="span4 price getquote resSrGetQuote">
                                    <h2>Get Quote!</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row vehicle-listing" style="width: 952px">
                    <div class="span3 listing-container">
                        <div class="img">
                            <img height="140" src="http://cdn-3.psndealer.com/e2/dealersite/images/newvehicles/2012/nv247310_0_400.jpg" alt="NPR">
                        </div>
                    </div>
                    <div class="span12 listing-container">
                        <div class="row">
                            <div class="span8 description">
                                <h3 class="name">NPR</h3>
                                <p>
                                    <b>Performance. Practicality. Dependability. Durability.</b>
                                </p>
                                <p>
                                    Whether you are a small business operator with a single
												vehicle or you manage an entire fleet, you need a truck that
												will do more, while costing less to operate.
                                </p>
                                <p>
                                    <b>Models: <a href="/showroom/detail/npr-gas">NPR <em>Gas</em></a> | <a href="/showroom/detail/npr-gas-crew-cab">NPR <em>Crew
											Cab</em></a></b>
                                </p>
                            </div>
                            <div class="leoNoResponsiveBtns">
                                <div class="span4 price getquote get_quote">
                                    <h2>Get Quote!</h2>
                                </div>
                            </div>
                            <div class="leoResponsiveBtns">
                                <div class="span4 price getquote resSrGetQuote">
                                    <h2>Get Quote!</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row vehicle-listing" style="width: 952px">
                    <div class="span3 listing-container">
                        <div class="img">
                            <img height="140" src="http://cdn-3.psndealer.com/e2/dealersite/images/newvehicles/2012/nv247308_0_400.jpg" alt="NPR-HD">
                        </div>
                    </div>
                    <div class="span12 listing-container">
                        <div class="row">
                            <div class="span8 description">
                                <h3 class="name">NPR-HD</h3>
                                <p>
                                    <b>Performance. Practicality. Dependability. Durability.</b>
                                </p>
                                <p>
                                    Whether you are a small business operator with a single
												vehicle or you manage an entire fleet, you need a truck that
												will do more, while costing less to operate.
                                </p>
                                <p>
                                    <b>Gas Models: <a href="/showroom/detail/npr-hd-gas">NPR-HD <em>Gas</em> </a>| <a href="/showroom/detail/npr-hd-gas-crew-cab">NPR-HD <em>Gas
											Crew Cab</em></a></b>
                                </p>
                                <br>
                                <p>
                                    <b>Diesel Models: <a
                                        href="/showroom/detail/npr-hd-diesel">NPR-HD <em>Diesel</em></a> | <a href="/showroom/detail/npr-hd-diesel-crew-cab">NPR-HD <em>Diesel Crew Cab</em> </a></b>
                                </p>
                            </div>
                            <div class="leoNoResponsiveBtns">
                                <div class="span4 price getquote get_quote">
                                    <h2>Get Quote!</h2>
                                </div>
                            </div>
                            <div class="leoResponsiveBtns">
                                <div class="span4 price getquote resSrGetQuote">
                                    <h2>Get Quote!</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row vehicle-listing" style="width: 952px">
                    <div class="span3 listing-container">
                        <div class="img">
                            <img height="140" src="http://cdn-3.psndealer.com/e2/dealersite/images/newvehicles/2012/nv247307_0_400.jpg" alt="NQR">
                        </div>
                    </div>
                    <div class="span12 listing-container">
                        <div class="row">
                            <div class="span8 description">
                                <h3 class="name">NQR</h3>
                                <p>
                                    <b>Performance. Practicality. Dependability. Durability.</b>
                                </p>
                                <p>
                                    Whether you are a small business operator with a single
												vehicle or you manage an entire fleet, you need a truck that
												will do more, while costing less to operate.
                                </p>
                                <p>
                                    <b>Diesel Models: <a href="/showroom/detail/nqr-diesel">NQR <em>Diesel</em> </a>| <a href="/showroom/detail/nqr-diesel-crew-cab">NQR <em>Diesel
											Crew Cab</em></a></b>
                                </p>
                            </div>
                            <div class="leoNoResponsiveBtns">
                                <div class="span4 price getquote get_quote">
                                    <h2>Get Quote!</h2>
                                </div>
                            </div>
                            <div class="leoResponsiveBtns">
                                <div class="span4 price getquote resSrGetQuote">
                                    <h2>Get Quote!</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row vehicle-listing" style="width: 952px">
                    <div class="span3 listing-container">
                        <div class="img">
                            <img height="140" src="http://cdn-3.psndealer.com/e2/dealersite/images/newvehicles/2012/nv247312_0_400.jpg" alt="NRR">
                        </div>
                    </div>
                    <div class="span12 listing-container">
                        <div class="row">
                            <div class="span8 description">
                                <h3 class="name">NRR</h3>
                                <p>
                                    <b>Performance. Practicality. Dependability. Durability.</b>
                                </p>
                                <p>
                                    Whether you are a small business operator with a single
												vehicle or you manage an entire fleet, you need a truck that
												will do more, while costing less to operate.
                                </p>
                                <p><b>Diesel Models: <a href="/showroom/detail/nrr-diesel">NRR <em>Diesel</em> </a></b></p>
                            </div>
                            <div class="leoNoResponsiveBtns">
                                <div class="span4 price getquote get_quote">
                                    <h2>Get Quote!</h2>
                                </div>
                            </div>
                            <div class="leoResponsiveBtns">
                                <div class="span4 price getquote resSrGetQuote">
                                    <h2>Get Quote!</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
        <!-- END OF INVENTORY LISTING ROW -->

        <!-- FOOTER ROW -->
        @{ Html.RenderPartial("~/Views/Shared/_Footer.cshtml"); }
        <!-- END OF FOOTER ROW -->

    </div>
    <!-- END OF MAIN CELL -->

</div>
<!-- END OF WRAPPER DIV -->

@{ Html.RenderPartial("~/Views/Shared/_Forms_Simple.cshtml"); }
<script type="text/javascript">
    var globalData = {};
    globalData["Make"] = "Isuzu";


    $(".getquote").click(function () {
        var model = $(this).parent().find(".name").html();

        globalData["Model"] = model;

    });
</script>
<!-- BRAND ROW -->
