@{
    ViewBag.Title = "NQR Diesel Freeway Isuzu";
}

@section meta{
    <meta name="description" content="Freeway Isuzu - NQR Diesel ✓ Finding your used trucks ✓ new trucks ✓ Hundreds of cars for sale ✓ Good prices ✓ Daily updated" />
}

<link type="text/css" rel="stylesheet" href="/Content/css/newinv.css" />
<link type="text/css" rel="stylesheet" href="/Content/css/responsive.css" />
<link type="text/css" rel="stylesheet" href="/Content/css/responsiveShowroom.css" />
<link type="text/css" rel="stylesheet" href="/Content/css/responsiveSpecials.css" />
<script type="text/javascript" src="/Scripts/js/pages/pc_newdetail.js"></script>
<div class="row" id="vehicle-profile">

    <!-- VEHICLE PICTURES -->
    <div class="span7">
        <div class="row" id="main-image">
            <div class="span7">
                <a id="mainImage"
                   style="width: 400px; height: 315px; position: relative;" class="">
                    <table class="image" style="vertical-align: middle;">
                        <tbody>
                            <tr>
                                <td style="vertical-align: middle;">
                                    <img alt="NQR Diesel Freeway Isuzu"
                                         src="http://cdn-3.psndealer.com/e2/dealersite/images/newvehicles/2012/nv247307_0_400.jpg">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </a>
            </div>
        </div>

    </div>

    <!-- END OF PICTURES  -->
    <!-- VEHICLE INFO -->
    <div class="span9 listing-container">
        <div class="row" style="padding-left: 10px;">
            <div class="span3 price"
                 style="float: right; display: inline-block; margin-left: 40px">
                <div class="leoNoResponsiveBtns">
                    <a href="javascript:void(0);" class="fancybox btn btn-danger more_info">Get More Info</a>
                    <a href="javascript:void(0);" class="fancybox btn btn-danger get_quote">Get A Quote</a>
                </div>
                <div class="leoResponsiveBtns">
                    <a href="javascript:void(0);" class="btn btn-danger" id="reGetMore">Get More Info</a>
                    <a href="javascript:void(0);" class="btn btn-danger" id="reGetQuote">Get A Quote</a>
                </div>
                <a id="apply" href="javascript:void(0);" target="_blank" class="btn btn-danger">Apply For Financing</a>
            </div>
            <h1 class="name">NQR Diesel</h1>
            <p></p>
            <p>
                Performance. Practicality. Dependability. Durability.
            </p>
            <p>
                Isuzu low cab forward trucks have been the first choice of
                American companies since 1986. If you prefer gasoline engines, the
                Isuzu 2012 model line-up offers the only gasoline-powered low cab
                forward trucks in America.
            </p>
            <p>
                Whether you are a small business operator with a single
                vehicle or you manage an entire fleet, you need a truck that will
                do more, while costing less to operate.
            </p>
            <p></p>
        </div>
        <div class="row">
            <div class="span9">
                <ul class="unstyled span9 vehicle-info-table">
                    <li>
                        <h3>GENERAL INFORMATION</h3>
                    </li>
                    <li>
                        <span class="label">Manufacturer</span> Isuzu
                    </li>
                    <li>
                        <span class="label">Model Year</span> 2012
                    </li>
                    <li>
                        <span class="label">Model</span>NQR
                    </li>
                    <li>
                        <span class="label">MSRP</span> Request a Quote
                    </li>
                    <li>
                        <span class="label">Duty</span> Medium
                    </li>
                    <li>
                        <span class="label">Class</span>Class 5 (GVW
                        16,001-19,500 lbs)
                    </li>
                    <li>
                        <h3>WEIGHTS</h3>
                    </li>
                    <li>
                        <span class="label">GVWR</span>17,950 lbs.
                    </li>
                    <li>
                        <span class="label">GAWR</span>Front: 6,830 lbs.
                        <br>
                        Rear:
                        12,980 lbs.
                    </li>
                    <li>
                        <span class="label">GCWR</span>23,500 lbs.
                    </li>
                    <li>
                        <h3>BODY</h3>
                    </li>
                    <li>
                        <span class="label">Cab</span>Standard Cab
                    </li>
                    <li>
                        <span class="label">Power Steering</span>Integral
                        hydraulic
                        <br>
                        Steering Column: Tilt &amp; telescopic
                    </li>
                    <li>
                        <span class="label">Frame</span>Section Modulus: 7.20 ci
                        <br>
                        Resistance
                        Bending Moment: 316,800 ft. lbs./in.
                    </li>
                    <li>
                        <h3>DIMENSIONS</h3>
                    </li>
                    <li>
                        <span class="label">Length</span> Overall: 281" | Cargo
                        Floor: 171" | Effective Cargo: 161-3/8"
                    </li>
                    <li>
                        <span class="label">Width</span>Overall: 88 in.
                        <br>
                        Interior:
                        82-1/2 in.
                    </li>
                    <li>
                        <span class="label">Height</span> 113 in.
                    </li>
                    <li>
                        <h3>ENGINE &amp; DRIVETRAIN</h3>
                    </li>
                    <li>
                        <span class="label">Engine Make</span> Isuzu
                    </li>
                    <li>
                        <span class="label">Engine Model</span> 4HK1-TC
                    </li>
                    <li>
                        <span class="label">Engine Type</span> Turbocharged,
                        intercooled
                    </li>
                    <li>
                        <span class="label">Horsepower</span> 215 hp &#64; 2,500 rpm
                        (195 hp &#64;2,650 rpm w/ optional transmission)
                    </li>
                    <li>
                        <span class="label">Torque</span> 452 ft. lbs. &#64; 1,850
                        rpm
                        <br>
                    </li>
                    <li>
                        <span class="label">Displacement</span> 317 ci (5.2 l)
                    </li>
                    <li>
                        <span class="label">Fuel Type</span> Diesel
                    </li>
                    <li>
                        <span class="label">Fuel Tank Capacity</span> 30 gal.
                        in-rail
                    </li>
                    <li>
                        <span class="label">Transmission</span>Aisin A465
                        6-speed automatic w/ double overdrive &amp; lock-up 2nd - 6th
                        gears (Isuzu MZZ 6-speed manual optional)
                    </li>
                    <li>
                        <h3>ELECTRICAL</h3>
                    </li>
                    <li>
                        <span class="label">Electrical System</span>Alternator:
                        110A
                    </li>
                    <li>
                        <span class="label">Battery</span>2 maintenance-free 750
                        CCA
                    </li>
                    <li>
                        <span class="label">Instrumentation</span>Oil Level
                        Indicator: Dash-mounted oil level check switch and light
                        <br>
                        Fuel
                        / Water Separator: Dash-mounted indicator light
                    </li>
                    <li>
                        <h3>OPERATIONAL</h3>
                    </li>
                    <li>
                        <span class="label">Suspension</span> Front Springs:
                        Tapered; 6,830 lb. capacity
                        <br>
                        Rear Springs: Multi-leaf;
                        9,880 lb. capacity
                    </li>
                    <li>
                        <span class="label">Brakes</span>Service: Hydraulic
                        boosted with 4-channel ABS
                        <br>
                        Front: Disc | Rear: Drum
                    </li>
                    <li>
                        <span class="label">Tires</span>225/70R19.5F (12-ply)
                    </li>
                    <li>
                        <span class="label">Front Axle Capacity</span> 6,830
                        lbs.
                    </li>
                    <li>
                        <span class="label">Rear Axle Capacity</span> 14,550
                        lbs.
                    </li>
                    <li>
                        <span class="label">Rear End Ratio</span> 5.125 (4.555
                        with optional transmission)
                    </li>
                    <li>
                        <span class="label">Payload Capacity</span>10,968 -
                        11,371 lbs.
                    </li>
                    <li>
                        <h3>MEASUREMENTS</h3>
                    </li>
                    <li>
                        <span class="label">Length </span>(WB = Wheelbase) 109"
                        WB: 200.5" | 132.5" WB: 224"
                        <br>
                        150" WB: 241.5" | 176"
                        WB: 267.5" | 200" WB: 291.5"
                    </li>
                    <li>
                        <span class="label">Width</span> 81.3 in.
                        <br>
                        Axle:
                        65.6 in.
                    </li>
                    <li>
                        <span class="label">Height</span> 92.4 in.
                    </li>
                    <li>
                        <span class="label">Wheelbase</span>150 or 176 in.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- END OF VEHICLE INFO -->
    <!-- FOOTER ROW -->
    @{ Html.RenderPartial("~/Views/Shared/_Footer.cshtml"); }
    <!-- END OF FOOTER ROW -->

</div>

<!-- END OF WRAPPER DIV -->
<script type="text/javascript">
    var globalData = {};
    globalData["Make"] = "Isuzu";
    globalData["Model"] = "NQR Diesel";
</script>
@{ Html.RenderPartial("~/Views/Shared/_Forms_Simple.cshtml"); }
<!-- BRAND ROW -->
