@{
    ViewBag.Title = "Reach 151 12ft Freeway Isuzu";
}

@section meta{
    <meta name="description" content="Freeway Isuzu - Reach 151 12ft ✓ Finding your used trucks ✓ new trucks ✓ Hundreds of cars for sale ✓ Good prices ✓ Daily updated" />
}

<link type="text/css" rel="stylesheet" href="/Content/css/newinv.css" />
<link type="text/css" rel="stylesheet" href="/Content/css/responsive.css" />
<link type="text/css" rel="stylesheet" href="/Content/css/responsiveShowroom.css" />
<link type="text/css" rel="stylesheet" href="/Content/css/responsiveSpecials.css" />
<script type="text/javascript" src="/Scripts/js/pages/pc_newdetail.js"></script>
<div class="row" id="vehicle-profile">

    <!-- VEHICLE PICTURES -->

    <div class="span7">
        <div class="row" id="main-image">
            <div class="span7">
                <a id="mainImage"
                   style="width: 400px; height: 315px; position: relative;" class="">
                    <table class="image" style="vertical-align: middle;">
                        <tbody>
                            <tr>
                                <td style="vertical-align: middle;">
                                    <img alt="Reach 151 - 12ft Freeway Isuzu"
                                         src="http://cdn-3.psndealer.com/e2/dealersite/images/newvehicles/2012/nv251047_0.jpg">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </a>
            </div>
        </div>
    </div>

    <!-- END OF PICTURES  -->
    <!-- VEHICLE INFO -->
    <div class="span9 listing-container">
        <div class="row" style="padding-left: 10px;">
            <div class="span3 price"
                 style="float: right; display: inline-block; margin-left: 40px">
                <div class="leoNoResponsiveBtns">
                    <a href="javascript:void(0);" class="fancybox btn btn-danger more_info">Get More Info</a>
                    <a href="javascript:void(0);" class="fancybox btn btn-danger get_quote">Get A Quote</a>
                </div>
                <div class="leoResponsiveBtns">
                    <a href="javascript:void(0);" class="btn btn-danger" id="reGetMore">Get More Info</a>
                    <a href="javascript:void(0);" class="btn btn-danger" id="reGetQuote">Get A Quote</a>
                </div>


                <a id="apply" href="javascript:void(0);" target="_blank" class="btn btn-danger">Apply For Financing</a>
            </div>
            <h1 class="name">Reach 151 - 12ft</h1>
            <p></p>
            <p>
                In the world of commercial vehicles, the introduction of a
                truly new vehicle is a rare occurrence. That’s why the all-new
                Reach is so important. Everything you believe about what a
                commercial van can do - and what it can do for your business - is
                about to change.
            </p>
            <p>
                The Reach has what today’s business owners want:
            </p>
            <ul>
                <li>
                    A true commercial-grade vehicle that delivers reliable
                    performance year after year.
                </li>
                <li>
                    A timeless style that will still look great ten years
                    from now.
                </li>
                <li>
                    Fuel-efficient design - thanks to its lightweight,
                    aerodynamic Utilimaster body and efficient Isuzu diesel
                    powertrain, the Reach delivers up to 35% better fuel economy*
                    than a traditional commercial van.
                </li>
                <li>
                    Reach is the first in its class to offer Selective
                    Catalytic Reduction (SCR) technology with Diesel Exhaust Fluid
                    (DEF) injection, which reduces NOx levels in engine exhaust by
                    85%.
                </li>
                <li>
                    A time-efficient design; thanks to its low step-in
                    combined with its pass-through design, drivers can get in and out
                    and back on the road quicker than ever.
                </li>
                <li>
                    Altogether, these features provide you with a commercial
                    vehicle that can “reach” a wide range of vocations - everything
                    from package delivery to food distribution, contracting to
                    cleaning services, and moving and storage to heating and air
                    conditioning.
                </li>
            </ul>
            <em>
                * Compared to class 3-5 commercial walk-in vans; testing
                conducted by independent, certified party.
            </em>
            <p></p>
        </div>
        <div class="row">
            <div class="span9">
                <ul class="unstyled span9 vehicle-info-table">
                    <li>
                        <h3>GENERAL INFORMATION</h3>
                    </li>
                    <li>
                        <span class="label">Manufacturer</span> Isuzu
                    </li>
                    <li>
                        <span class="label">Model Year</span> 2012
                    </li>
                    <li>
                        <span class="label">Model</span> Reach 151 - 12 ft.
                    </li>
                    <li>
                        <span class="label">MSRP</span> Request a Quote
                    </li>
                    <li>
                        <span class="label">Duty</span> Medium
                    </li>
                    <li>
                        <span class="label">Class</span> Class 3 (GVW
                        10,001-14,000 lbs)
                    </li>
                    <li>
                        <span class="label">Cab Style</span> Standard Cab
                    </li>
                    <li>
                        <span class="label">GVWR</span> 12,000 lbs.
                    </li>
                    <li>
                        <span class="label">Power Steering</span> Integral
                        hydraulic
                    </li>
                    <h3>
                        <li>
                            DIMENSIONS
                        </li>
                    </h3>
                    <li>
                        <span class="label">Length</span> Overall: 260.9" |
                        Cargo Floor: 150.9" | Effective Cargo: 142-3/8"
                    </li>
                    <li>
                        <span class="label">Width</span> Overall: 88 in.
                        <br>
                        Interior: 82-1/2 in.
                    </li>
                    <li>
                        <span class="label">Height</span> 113 in.
                    </li>
                    <h3>
                        <li>
                            ENGINE &amp; DRIVETRAIN
                        </li>
                    </h3>
                    <li>
                        <span class="label">Engine Make</span> Isuzu
                    </li>
                    <li>
                        <span class="label">Engine Model</span> 4JJ1-TC
                    </li>
                    <li>
                        <span class="label">Horsepower</span> 150 hp &#64; 2,800 rpm
                    </li>
                    <li>
                        <span class="label">Torque</span> 282 ft. lbs &#64; 1,600 -
                        2,800 rpm
                    </li>
                    <li>
                        <span class="label">Displacement</span> 183 in.³ (3.0 l)
                    </li>
                    <li>
                        <span class="label">Engine Brake</span> Exhaust brake
                        standard
                    </li>
                    <li>
                        <span class="label">Fuel Type</span> Diesel
                    </li>
                    <li>
                        <span class="label">Fuel Tank Capacity</span> 25 gal.
                    </li>
                    <li>
                        <span class="label">Transmission</span> Aisin A460
                        6-speed automatic w/ double overdrive &amp; lock-up gears
                    </li>
                    <h3>
                        <li>
                            OPERATIONAL
                        </li>
                    </h3>
                    <li>
                        <span class="label">Suspension</span> Front: Tapered
                        leaf spring
                        <br>
                        Rear: Multi-leaf spring
                    </li>
                    <li>
                        <span class="label">Tires</span> 215/85R-16E, 10-ply
                    </li>
                    <li>
                        <span class="label">Wheelbase</span> 151 in.
                    </li>
                    <li>
                        <span class="label">Rear Axle(s)</span> 1
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END OF VEHICLE INFO -->
    <!-- END OF INFO CELL ROW -->
    <!-- FOOTER ROW -->
    @{ Html.RenderPartial("~/Views/Shared/_Footer.cshtml"); }
    <!-- END OF FOOTER ROW -->
</div>
<!-- END OF WRAPPER DIV -->
<script type="text/javascript">
    var globalData = {};
    globalData["Make"] = "Isuzu";
    globalData["Model"] = "Reach 151 - 12ft";
</script>
@{ Html.RenderPartial("~/Views/Shared/_Forms_Simple.cshtml"); }
<!-- BRAND ROW -->
